<div class="tools left btn-lock" title="Download current Song" onclick="musiqplus.downloadSong()">
  <div class="clickable mdi mdi-download">

  </div>
</div>
<div class="tools left btn-lock" title="Real FULLSCREEN" onclick="musiqplus.fullscreen()">
  <div class="clickable mdi mdi-fullscreen-exit">

  </div>
</div>
