.checkboxwrapper {
  float: right;
  max-width: 300px;
  padding-top: 2px;
  text-align: center;
  padding-right: 10px;
}

input.mqpluscheckbox {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input.mqpluscheckbox + label {
  display: inline-block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input.mqpluscheckbox + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input.mqpluscheckbox + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input.mqpluscheckbox:checked + label:before {
  width: 50px;
  background: #13bf11;
}

input.mqpluscheckbox:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
