@import url(./inputs.css);
/*CHANGES: Fix for  going off the screen on 1366x768 screens with browser maximized. This HAS NOT been tested on larger screens.
On #mqplussettings top has been set to 400px instead of 50% and height has been set to 80% instead of 700px.
This fixes the popup menu from going above the screen on 1366x768 screens. It should work on larger screens, but I cannot test that.*/
#mqplussettings {
	font-family: 'open sans';
	display: none;
	margin: 0;
	position: absolute;
	top: 400px;
	left: 50%;
	margin-top: -350px;
	margin-left: -475px;
	color: #fff;
	width: 950px;
	height: 80%;
	z-index: 100;
	background-color: rgba(0,0,2,0.96);
	-webkit-filter: drop-shadow(0px 3px 30px 1px);
}

#mqplussettings span {
	width: 500px;
	display: inline-block;
}
#mqplussettings #mqplushead {
	background-color: #1C1C1F;
	height: 60px;
	border-bottom: 5px solid #6951A9;
}

#mqplussettings #mqpluscontent {
	overflow: auto;
	height: calc(100% - 80px);
}

#mqplussettings #mqplusfooter {
	height: 20px;
}

#mqplussettings h1 {
	display: inline-block;
	margin: 0;
	font-family: lobster;
	font-size: 38px;
	padding-left: 8px;
	padding-top: 4px;
	opacity: .8;
}

#mqplussettings h2 {
  font-weight: 100;
	display: inline-block;
	margin: 0;
	font-family: 'Open Sans',sans-serif;
	font-size: 38px;
	padding-left: 8px;
	padding-top: 4px;
	opacity: .8;
}

#mqplussettings a {
	text-decoration: none;
	color: #A7A7A7;
}

#mqplussettings a:hover {
	color: #fff;
}

#mqplussettings h1:hover,#mqplussettings h1:hover {
	opacity: 1;
}

.mqplusclose {
  width: inherit !important;
	font-size: 50px;
	float: right;
	right: 20px;
	top: 0;
	position: absolute;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	opacity: .2;
}

.mqplusmp3close {
	font-size: 50px;
	float: right;
	right: 0px;
	top: -17px;
	position: absolute;
	color: #000;
	text-shadow: 0 1px 0 #000;
	opacity: 1;
	cursor: pointer;
}
#mqplussettings .mqplusclose:hover,#mqplussettings .mqplusclose:focus {
	opacity: 1;
	color: #fff;
	cursor: pointer;
}

#mqpluscontent .mqpluscontentpart {
	display: none;
}

#mqpluscontent .mqplusactive {
	display: block !important;
}

#mqplussettings .mqplusactive {
	color: #fff;
}

#mqplussettings .mqpsetting {
  padding-left: 10px;
  padding-bottom: 5px;
}

#mqplussettings .mqpsetting:nth-child(2n) {
  background-color: #6951A9;
}
.mqplusinput {
  float: right;
  position: relative;
  top: -30px;
  right: 10px;
}
#mqplussettings p {
	font-weight: 100;
	display: inline-block;
	margin: 0;
	font-family: 'Open Sans',sans-serif;
	font-size: 30px;
	padding-left: 8px;
	padding-top: 4px;
}
/* btn by Semantic UI----------------------------------------------------------- */
.ui.primary.button {
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
}
.ui.primary.button, .ui.primary.buttons .button {
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
}
.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: 1rem;
}
.ui.button {
    cursor: pointer;
    display: inline-block;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}
.ui.input input:focus, .ui.input.focus input {
    border-color: #85b7d9;
    background: #fff;
    color: rgba(0,0,0,.8);
    box-shadow: none;
}
.ui.input input {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.2142em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67861429em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}
input[type=text], input[type=email], input[type=search], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* ----------------------------------------------------------------------------- */

#room-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
}

@-webkit-keyframes pulse {
      0% {color: #519331;}
     25% {color: #000EC5;}
     50% {color: #F10034;}
     75% {color: #FF7400;}
     100% {color: #C5F700;}
}

.hist-sng {
    width: calc(100% - 30px);
    height: 69px;
    margin: 10px;
    vertical-align: middle;
    background: rgba(40, 44, 53, 0.68);
}

#mqpChangelog ul {
  padding-right: 30px;
  list-style-type: none
}
