* {
  font-family: 'Open Sans', sans-serif;
}
.tab.btn-mentions {
    flex: 1 !important;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
}
.ctr {
    background-color: black;
}
.controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: calc(-40%/ 2);
    height: 40px;
    width: 40%;
    background: #000000;
    border-top: 1px solid #000000;
}

.playback {
  background-color: rgb(0, 0, 0);
  border: none;
  -webkit-box-shadow: 0 0 60px 20px #000000;
  box-shadow: 0 0 60px 20px #000000;
}
.song-progress {
  background-color: white;
}
.dash {
  -webkit-box-shadow: 0 0 50px 9px #000000;
  box-shadow: 0 0 50px 9px #000000;  border: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 15;
  left: 0;
  margin: 0;
  padding: 0;
  background: #000000;
  vertical-align: middle;
  text-align: center
}

.tab {
  color: white;
}

#app-right {
  -webkit-box-shadow: 0 0 50px 9px #000000;
      box-shadow: 0 0 50px 9px #000000;
      border: none;
      position: absolute;
      z-index: 10;
      right: 0;
      background: rgba(10, 10, 10, 0.78);
      height: calc(100% - 41px);
      bottom: 0;
}

#msg-form {
  border: none;
}
.btn-upvote.active {
  height: calc(100% + 1px);
  color: #1C1C1F;
  background: #A7CA00;
  margin-top: -1px;
}

.nav {
  color: white;
}

.icon-info {
  background-color: white;
}

.btn-logo {
  background-color: black !important;
  border: none;
}
.logo-menu {
    position: absolute;
    z-index: 16;
    top: 40px;
    left: 0;
    display: none;
    background: rgba(10,10,10,0.9);
}

.logo-dash {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: rgba(28, 28, 31, 0);
    border-right: none;
}

#room-bg {
  background-image: url('https://explodingcamera.xyz/background2.jpg') !important;
}

.left .lable {
  margin-top: -4px;
}

.labels {
  margin: 0px !important;
  margin-top: 2px !important;
  float: left;
  text-align: left;
}

.btn-upvote.active {
  color: black;
}
.lib-sng-search, .lib-history-search, .lib-fdr-search {
	border: none !important;
}
.modal-controls, .settings .btn, .set-check, .set-text, .set-text-longer {
   border: none !important;
 }
 .popover {
     -webkit-box-shadow: 0 0 50px 9px #000000;
     box-shadow: 0 0 50px 9px #000000;
     margin-left: 2px;
     border: none !important;
     color: #FDFFFE;
     background: #1C1C1F;
     border-radius: 0;
     border: 1px solid #444A59;
     padding: 0;
     min-width: 300px;
 }
 .lib-fdr-search {
     border: none !important;
     width: calc(100% - 30px);
     height: 40px;
     margin: 10px 10px 0;
     border: 1px solid #444A59;
     cursor: pointer;
     vertical-align: middle;
     line-height: 40px;
     background: #222326;
 }
 .user-menu {
   -webkit-box-shadow: 0 0 50px 9px #000000;
   box-shadow: 0 0 50px 9px #000000;
     margin-top: 3px;
     border: none !important;
     position: absolute;
     z-index: 100;
     background: #070707;
     border: 1px solid #444A59;
 }
 .modal-import .text {
     font-family: initial;
   }